<html xmlns:th="https://www.thymeleaf.org">
	<body>
		<p> Pievienojam jaunu studentu: </p>
		
		<form action="#" th:action="@{/studentAdd}" method="post" th:object="${student}">
		<table>
			<tr>
				<td>Lūdzu ievadiet studenta vārdu </td>
				<td> <input type="text" th:field="*{name}" >  </td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> </td>	
			</tr>
			
			<tr>
				<td>Lūdzu ievadiet studenta uzvārdu </td>
				<td> <input type="text" th:field="*{surname}"> </td>
				<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"> </td>	
					
			</tr>
		
		</table>
		
		<button type="submit"> Pievienot! </button>
		</form>
	</body>
</html>